<main>
  <script>
    // Better to rework it onto .js folder, then import it as a function.
    function toggleEditForm() {
      const display = document.getElementById("article-display");
      const form = document.getElementById("article-edit-form");
      const edit_button = document.getElementById("edit-cancel-button");

      if (form && display) {
        if (form.style.display === "none") {
          form.style.display = "block";
          display.style.display = "none";
          edit_button.innerText = "CANCELAR";
        } else {
          form.style.display = "none";
          display.style.display = "block";
          edit_button.innerText = "EDITAR";
        }
      }
    }

    function showBlogs() {
      const form = document.getElementById("article-blogs");
      const show_blogs_button = document.getElementById("show-blogs-button");

      if (form) {
        if (form.style.display === "none") {
          form.style.display = "block";
          show_blogs_button.innerText = "Ocultar blogs asociados";
        } else {
          form.style.display = "none";
          show_blogs_button.innerText = "Mostrar blogs asociados";
        }
      }
    }
  </script>

  <h2><%= @article.title %> #<%= @article.id %></h2>
  
  <div id="article-display">
    <p><strong>Descripción:</strong> <%= @article.description %></p>
    <p><strong>Tipo:</strong> <%= @article.info_type %></p>
    <p><strong>Referencias:</strong> <%= @article.references %></p>
  </div>

  <div id="article-edit-form" style="display: none;">
    <%= form_with url: "/articles/#{@article.id}", method: :patch, local: true do %>
      <p>
        <%= label_tag :description, "Titulo" %><br>
        <%= text_field_tag "article[title]", @article.title %>
      </p>
      <p>
        <%= label_tag :description, "Descripción" %><br>
        <%= text_field_tag "article[description]", @article.description %>
      </p>
      <p>
        <%= label_tag :info_type, "Tipo" %><br>
        <%= text_field_tag "article[info_type]", @article.info_type %>
      </p>
      <p>
        <%= label_tag :references, "Referencias" %><br>
        <%= text_field_tag "article[references]", @article.references %>
      </p>
      
      <%= submit_tag "Guardar cambios"%>
    <% end %>
  </div>

  <div id="article-blogs" style="display: none;">
    <h4> Blogs Asociados </h4>
    <% if @article.blogs.empty?%>
      <p> No hay blogs asociados, pero puedes ayudar creando!</p>
    <%else%>
      <% @article.blogs.each do |blog| %>
      <div style="border: 2px solid black; padding: 10px;">
        <p><%= link_to blog.title, render_index_path(view: "blog", query: blog.id) %></p>
        <p><%= blog.description %></p>
      </div>
      <%end%>
    <%end%>
  </div>

  <%= link_to "EDITAR", "#", id: "edit-cancel-button", onclick: "toggleEditForm(); return false;" %>
  <%= link_to "Crear Blog", root_path(view: "create_blog", article_id: @article.id), method: :get %>
  <%= link_to "Blogs Asociados", "#", id: "show-blogs-button", onclick: "showBlogs(); return false;" %>

</main>